*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .message{
    height: 5vh;
    width: 100%;
    background-color: rgb(67, 8, 67);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
   
  
  }
  
  
  .header{
    height: auto;
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.697);
    position: sticky;
    top: 0px;
    background-color: white;
    
    
  }
  
  .logo{
    width: 30%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(79, 41, 114);
    background-color: white;
  }
  
  .logo img{
    height: 50px;
    width: 50px;
  }
  
  
  .nev{
    height: 10vh;
    width: 45%;
    margin-left: 25%;
    background-color: white;
      display:flex;
      align-items:center;
      top:0px;
      justify-Content:space-evenly;
  }
  
  .nev button{
      height: 50px;
      width: auto;
      border: none;
      background-color: transparent;
      color: black;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
  }
  
  .nev button:hover{
      color: rgb(74, 12, 74);
      font-weight: bolder;
  }

/* Dropdown Button */
.dropbtn {
    height: 50px;
    width: 150px;
    border: none;
    background-color: transparent;
    color: rgb(255, 168, 5);
    font-weight: 600;
    font-size: large;
    cursor: pointer;
}
  
.dropbtn:hover{
  border: none;
}
    
    /* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
    
    /* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  margin-left: 20px;
  min-width: 200px;
  box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
    
    /* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
   
    
    /* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: brown;
  
}
    
    /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  /* background-color: whitesmoke; */
  color: rgb(74, 12, 74);
  
}

/* Style for the dialog overlay */
dialog[open] {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  }
  
  /* Style for the dialog box */
  dialog {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* Style for the dialog overlay */
  dialog[open] {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  }
  
  /* Style for the dialog box */
  dialog {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* Style for the dialog overlay */
  dialog[open] {
    height: 350px;
    background-color: whitesmoke;
    
  }
  
  #uN{
    
    text-align: center;
  }

.profile_picture{
    height: 80px;
    width: 80px;
    margin-left: 80px;
    /* border: 1px solid black; */
    border-radius: 50%;
    background-image: url(user.png);
    background-size: contain;
    margin-bottom: 5px;
    
  }
  
  
  #close_button{
    position: fixed;
    right: 0px;
    top: 0px;
    height: 35px;
    width: 35px;
    background-color: rgb(56, 18, 76);
    color: whitesmoke;
  }
  
  /* Style for the dialog box */
  dialog {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.614);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .main{
    height: 80vh;
    width: 100%;
    padding-left: 7%;
    padding-right: 15%;
    background-color: rgb(251, 249, 249);

  }

  .main h1{
    margin-top: 2%;
  }

  .main p{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2%;
    text-align: justify;
    text-justify: inter-word;
  }


  
  .foot1{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2%;
  border-top: 1px solid black;
  padding-top: 1%;
  }
  .foot1 h2{
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 20px;
  
  }
  
  .foot1 i{
  font-size: 25px;
  color: black;
  margin-left: 15px;
  }
  
  .foot1 i:hover{
  color: rgb(123, 6, 232);
  }
  
  ::-webkit-scrollbar{
    width: 0%;
  }