*{
    margin: 0px;
    padding: 0px;

}


.header{
    height: auto;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    
}

.logo{
    width: 30%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    /* border-bottom: 4px solid orange; */


}

.logo h1{
    margin-left: 5%;
}

.nev{
    height: 10vh;
    width: 70%;
    background-color: brown;
    position: sticky;
    display:flex;
    align-items:center;
    top:0px;
    justify-Content:space-evenly;
}

.nev button{
    height: 50px;
    width: auto;
    border: none;
    background-color: transparent;
    color: whitesmoke;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;

}

.nev button:hover{
    color: yellow;
}

#search_bar{
  height: 30px;
  width: 150px;
  border-radius: 30px;
  border: none;
  padding-left: 15px;
  padding-right: 60px;
  outline: none;
  
} 

/* Dropdown Button */
.dropbtn {
    height: 50px;
    width: 150px;
    border: none;
    background-color: transparent;
    color: rgb(255, 168, 5);
    font-weight: 600;
    font-size: large;
    cursor: pointer;
}
  
.dropbtn:hover{
  border: none;
}
      
    /* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
    
    /* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  margin-left: 20px;
  min-width: 200px;
  box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
    
    /* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
     
    
    /* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: brown;
  
}
    
      /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  /* background-color: whitesmoke; */
  color: yellow;
  
}
.main{
    height: 400vh;
    width: 100%;

}

.main h1{
    margin: 5%;
    margin-bottom: 10px;
    margin-right: 0px;
    color: rgb(7, 7, 80);
}

.main hr{
    width: 60%;
    margin-top: -28px;
    margin-left: 30%;
    height: 4px;
    background-color: rgb(7, 7, 80);
    border: none;
}

.data {
    height: 70vh;
    width: 90%;
    margin-top: 3%;
    margin-left: 5%;
    border: 2px solid black;
    display: flex;

}

.data img{
    height: 70vh;
    width: 60%;

}

.text{
    height: 62vh;
    width: 37%;
    padding: 2%;
    background-color: whitesmoke;

}

.text p{
    margin-top: 10px;
    color: saddlebrown;
}

.footer{
    height: 30vh;
    width: 100%;
    background-color: brown;
    position: relative;
    bottom: 0%;
}

::-webkit-scrollbar{
  width: 0%;
}