*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .message{
    height: 5vh;
    width: 100%;
    background-color: rgb(67, 8, 67);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
   
  
  }
  
  
  .header{
    height: auto;
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.697);
    position: sticky;
    top: 0px;
    background-color: white;
    
    
  }
  
  .logo{
    width: 30%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(79, 41, 114);
    background-color: white;
  }
  
  .logo img{
    height: 50px;
    width: 50px;
  }
  
  .nev{
    height: 10vh;
    width: 45%;
    margin-left: 25%;
    background-color: white;
      display:flex;
      align-items:center;
      top:0px;
      justify-Content:space-evenly;
  }
  
  .nev button{
      height: 50px;
      width: auto;
      border: none;
      background-color: transparent;
      color: black;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
  }
  
  .nev button:hover{
      color: rgb(74, 12, 74);
      font-weight: bolder;
  }

/* Dropdown Button */
.dropbtn {
    height: 50px;
    width: 150px;
    border: none;
    background-color: transparent;
    color: rgb(255, 168, 5);
    font-weight: 600;
    font-size: large;
    cursor: pointer;
}
  
.dropbtn:hover{
  border: none;
}
    
    /* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
    
    /* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  margin-left: 20px;
  min-width: 200px;
  box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
    
    /* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
   
    
    /* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: brown;
  
}
    
    /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  /* background-color: whitesmoke; */
  color: rgb(74, 12, 74);
  
}

/* Style for the dialog overlay */
dialog[open] {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  }
  
  /* Style for the dialog box */
  dialog {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* Style for the dialog overlay */
  dialog[open] {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  }
  
  /* Style for the dialog box */
  dialog {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* Style for the dialog overlay */
  dialog[open] {
    height: 350px;
    background-color: whitesmoke;
    
  }
  
  #uN{
    
    text-align: center;
  }

.profile_picture{
    height: 80px;
    width: 80px;
    margin-left: 80px;
    /* border: 1px solid black; */
    border-radius: 50%;
    background-image: url(user.png);
    background-size: contain;
    margin-bottom: 5px;
    
  }
  
  
  #close_button{
    position: fixed;
    right: 0px;
    top: 0px;
    height: 35px;
    width: 35px;
    background-color: rgb(56, 18, 76);
    color: whitesmoke;
  }
  
  /* Style for the dialog box */
  dialog {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.614);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .main{
    height: auto;
    width: 100%;padding-left: 7%;
    background-color: rgb(251, 249, 249);
    padding-top: 5%;
    
    
  }

  .main h1{
    width: 22%;
    background-color: transparent;
    filter: drop-shadow(2px 2px yellow);
    color:  rgb(102, 6, 102);
    border-bottom: 2px solid rgb(128, 0, 128);
  }


  .hawamahal{
    height: auto;
    width: 90%;
    margin-top: 3%;
    border: 1px solid rgb(67, 8, 67);
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;


  }

  .hawamahal h2{
    color: black;
  }

  .hawamahal h3{
    margin-bottom: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: purple;
  }

  .hawamahal img{
    height: 80vh;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .hawamahal p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(131, 0, 44);
    text-align: justify;
    text-justify: inter-word;
  }
  
  .Gallery{
    height: auto;
    width: 100%;
    display: inline-block;

  }

  .Gallery img{
    height: 200px;
    width: 300px;
    margin-left: 5px;
  }

  .Jantarmantar, .Amerfort, .Nargharfort, .jalmahal, .WTP, .metro{
    height: auto;
    width: 90%;
    margin-top: 5%;
    padding: 2%;
    border: 1px solid black;
    
  }
  
  .Jantarmantar img, .Amerfort img, .Nargharfort img, .jalmahal img, .metro img{
    height: 80vh;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;

  }
  
  .Jantarmantar p, .Amerfort p, .Nargharfort p, .jalmahal p, .WTP p, .metro p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(131, 0, 44);
    text-align: justify;
    text-justify: inter-word;
  }

  .Jantarmantar h3, .Amerfort h3, .Nargharfort h3, .jalmahal h3, .WTP h3, .metro h3{
    margin-bottom: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: purple;
    
  }

  .Gallery2{
    height: auto;
    width: 100%;
    display: flex;

  }

  .Gallery2 img{
    height: 200px;
    width: 300px;
    margin-left: 1%;
  }

   .Gallery1{
    height: auto;
    width: 100%;
    display: inline-block;

  }

  .Gallery1 img{
    height: 200px;
    width: 300px;
    margin-left: 2%;
    margin-top: 5px;
  }

.footer{
    height: 75vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.853)  ;
    position: relative;
    bottom: 0%;
    border-top: 1px solid rgba(0, 0, 0, 0.838);
    display: flex;
  
  }
  
  .foot{
    height: 80%;
    width: 80vh;
    margin-left: 10%;
    margin-top: 2%;
    /* background-color: rgb(255, 145, 0) */
  }
  
  .foot img{
    height: 100%;
    width: 100%;
  }
  
  .comment_box{
    height: 80%;
    width: 80vh;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 2%;
    background-color: white;
    border: 1px solid purple;
    border-radius: 15px;
    padding: 2%;
    /* background-color: rgb(255, 145, 0); */
    
  }
  
  .comment_box h1{  
    text-align: center;
    margin-bottom: 2%;
  
  }
  
  .comment_box input{
    height: 40px;
    width: 80%;
    margin-left: 8%;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: large;
    color: purple;
    font-family: cursive;
  }
  .comment_box textarea{
    margin-left: 8%;
    width: 80%;
    height: 20vh;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: larger;
    color: purple;
    font-family: cursive;
  }
  
  .comment_box label{
    margin-left: 8%;
    font-size: large;
    
  }
  
  #submit_btn{
    margin-top: 2%;
    height: 40px;
    width: 38%;
    margin-left: 3%;
    background-color: rgba(47, 157, 47, 0.819);
    border: none;
    border-radius: 15px;
    color: whitesmoke;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  #clear_btn{
    height: 40px;
    width: 38%;
    margin-left: 8%;
    background-color: rgba(24, 24, 150, 0.715);
    border: none;
    border-radius: 15px;
    color: whitesmoke;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  
  .foot1{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2%;
  }
  .foot1 h2{
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 20px;
  
  }
  
  .foot1 i{
  font-size: 25px;
  color: black;
  margin-left: 15px;
  }
  
  .foot1 i:hover{
  color: rgb(123, 6, 232);
  }
  
  ::-webkit-scrollbar{
    width: 0%;
  }