*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.contener1{
    height: 550px;
    width: 420px;
    background: linear-gradient(red, blue, purple, green, orange);
    border-radius: 40px;
    box-shadow: 0px 0px 20px orange;
}

.contener2{
    height: 545px;
    width: 415px;
    margin: 2.5px;
    background-color: white;
    border-radius: 40px;
    
}

.contener2 h1{
    text-align: center;
    margin-top: 3px;
}

.contener2 hr{
    width: 80%;
}

.input{
    height: auto;
    width: 100%;
    margin-top: 50px;
}

input[type=text], input[type=number],input[type=email],input[type=password]{
    height: 40px;
    width: 65%;
    margin-left: 10%;
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
.input label{
    position: absolute;
    background-color: white;
    margin-top: -10px;
    margin-left: 55px;
    font-size: large;
    font-weight: bold;
    


}

.buttons{
    height: 12vh;
    width: 100%;
    display: inline-block;
    

    /* background-color: antiquewhite; */
}

button{
    height: 40px;
    width: 37%;
    margin-left: 6%;
    margin-top: 5%;
    border: none;
    border-radius: 15px;
    background-color: rgb(0, 255, 38);
    color: whitesmoke;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}

#Clear{
    height: 40px;
    width: 37%;
    margin-left: 10%;
    margin-top: 5%;
    border: none;
    border-radius: 15px;
    background-color: rgb(0, 26, 255);
    color: whitesmoke;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    
}

p{
    margin-left: 10%;
    margin-top: 2%;
}